<!DOCTYPE html>
 <html>
  <head>
    <title>Cow Say</title>
  </head>

  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/bundle-bf8474894cc3f9c3769d.js"></script>
  </body>
 </html>
